#!/bin/bash

#SBATCH -N 1
#SBATCH --partition=synth-bio
#SBATCH --qos=panels
#SBATCH --dependency=%DEPENDENCY%
#SBATCH --output=%STDOUT%
#SBATCH --error=%STDERR%
#SBATCH --nodelist=compute-0-0
#SBATCH --job-name=%JOB_NAME%
#SBATCH --export=NONE
#SBATCH --propagate=NONE
#SBATCH --mail-type=ALL
#SBATCH --mail-user=%EMAIL_USER%

%COMMAND%
